<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Notas</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <notes-form></notes-form>
            </div>
            <br/>
            <div class="row">
                <notes-table></notes-table>
            </div>
        </div>
    </div>            
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">José Darío Lumbreras Márquez - JLMQ</span>
    </div>
</footer>